

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Detalle de Factura</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered table-striped">
        <thead> 
            <tr>
                <th > Codigo Artículo </th>
                <th > Cantidad </th>
                <th > Costo </th>
                <th > Total </th>
                <th> Docena </th>

            </tr>
        </thead>
        <tbody>
            {% for dato in datoscompra %}

                <tr class="record">
                    <td>
                        {{dato.codigoProducto}}
                    </td>
                    <td>
                        {{dato.cantidad}}  
                    </td>
                    <td>
                        {{dato.costo|number_format(2,'.',',')}} 
                    </td>
                    <td>
                        {{(dato.cantidad * dato.costo) |number_format(2,'.',',') }}  
                    </td>

                    <td>

                        {% if dato.bDocena == true %}
                            <input type="checkbox" checked disabled style="width: 20px; height:20px;padding-top: 6px; padding-bottom: 6px;alignment-baseline: middle" >
                        {% else %}
                            <input type="checkbox" disabled style="width: 20px; height:20px;padding-top: 6px; padding-bottom: 6px;alignment-baseline: middle" >
                        {% endif %}

                    </td>


                </tr>
            {% endfor %}    
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
   <!-- <button type="button" class="btn btn-primary">Save changes</button>-->
</div>

<!-- /modal-body -->
<!-- /modal-footer -->
